.clients__list {
  display: flex;
}

.clients__item {
  width: calc((100% - 150px) / 6);
  height: 92px;

  & + & {
    margin-left: 30px;
  }
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--icon-color);
  border: 1px solid currentColor;
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.clients__icon {
  fill: currentColor;
}
