.hero {
  background-color: var(--hyro-bg-color);

  text-align: center;
  padding: 200px 0;
}
.hero__overlay {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-fon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__title {
  color: var(--primery-bg-color);

  width: 696px;
  @include font(900, 44px, 1.36);
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin: 0 auto;
  margin-bottom: 30px;
}
