.project__thumb {
  position: relative;
  overflow: hidden;
}

.project__action {
  top: 0%;
  left: 0%;
  position: absolute;
  opacity: 0;

  transform: translate(0, 100%);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  border: 1px solid #000000;

  padding: 63px 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;

  color: var(--primery-bg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  .project__link:hover &,
  .project__link:focus & {
    opacity: 1;
    transform: translateY(0%);
  }
}

.project__link {
  display: block;

  &:hover,
  &:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.project {
  display: flex;
  flex-wrap: wrap;
}
.project__name {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.project__title {
  margin-bottom: 4px;
}

.project__item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;

  &:nth-child(3n) {
    margin-right: 0;
  }
  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.project__title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project__text {
  color: var(--primery-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}
