.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav__item {
  position: relative;
  & + & {
    margin-left: 50px;
  }
}

.site-nav__link {
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.site-nav__link_active::after {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  margin-top: 28px;
  border-radius: 2px;
}

.current {
  color: var(--accent-color);
}
