.team__name {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team {
  background-color: var(--secondary-bg-color);
}

.team__list {
  display: flex;
}

.team__card {
  background-color: var(--primery-bg-color);
  width: calc((100% - 90px) / 4);
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  & + & {
    margin-left: 30px;
  }
}

.team__title {
  margin-bottom: 10px;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.team__text {
  color: var(--primery-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 16px;
}
