.form {
  min-width: 528px;
  min-height: 581px;

  padding: 40px;
}

.form__title {
  margin-bottom: 10px;
  text-align: center;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form__label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.01em;
  color: var(--primery-text-color);
}

.form__input {
  margin: 0;
  padding: 10px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }
}

.form__input-wrap {
  position: relative;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 18px;
  height: 18px;

  .form__input:focus + & {
    fill: var(--accent-color);
  }
}

.form__comment-text {
  resize: none;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: var(--title-text-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }
}

.form__comment {
  margin-bottom: 20px;
}

.checkbox__label {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 30px;
}

.checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 3px;
  margin-right: 7px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .checkbox__input:focus + & {
    border-color: var(--accent-color);
  }

  .checkbox__input:checked + & {
    border-color: var(--accent-color);
    background-color: var(--accent-color);
    background-image: url(../images/check.svg);
    background-size: contain;
    background-origin: border-box;
  }
}

.checkbox__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  color: var(--primery-text-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.checkbox__link {
  text-decoration: underline;
  color: var(--accent-color);
}
