:root {
  --primery-text-color: #757575;
  --secondary-text-color: #000000;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primery-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --hyro-bg-color: #2f303a;
  --futer-address-color: rgba(255, 255, 255, 0.6);
  --container-bg-color: #eeeeee;
  --line-header-color: #ececec;
  --buton-active-color: #188ce8;
  --icon-color: #afb1b8;
}